<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml">
	<head><meta charset="UTF-8"/></head>
	<body>
		Hi {{ full_name }}.<br/>
		<p>
			We have noticed that your CyVerse account {{ username }} hasn't been used in at least two years, so we will be deleting your account in 90 days. Please download any files from the CyVerse Data Store you have that you want to keep. They can be found at <a href="https://data.cyverse.org/dav">https://data.cyverse.org/dav/</a> under the link <b>iplant/home/{{ username }}</b>.
		</p>
		<p>
			Please reach out to us at <a href="mailto:support@cyverse.org">CyVerse Support</a> if we incorrectly determined your account activity or if you need help downloading data.
		</p>
		<p>We appreciate your usage of CyVerse.</p>
		Tony Edgin<br/>
		CyVerse Data Store Product Owner<br/>
		University of Arizona<br/>
	</body>
</html>