<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml">
<body>
<div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">Your CyVerse account hasn't been used in awhile, so it will be deleted soon.</div>
Hi {{ full_name }}.<br/>
<p>We have noticed that your CyVerse account {{ username }} hasn't been used in at least two years, so we will be deleting your account in 90 days. Please download any files from the CyVerse Data Store you have that you want to keep. They can be found at <a href="https://data.cyverse.org/dav/iplant/home/{{ username }}">https://data.cyverse.org/dav/iplant/home/{{ username }}</a>.</p>
<p>Please reach out to us at <a href="mailto:support@cyverse.org">CyVerse Support</a> if we incorrectly determined your account activity or if you need help downloading data.</p>
<p>We appreciate your usage of CyVerse.</p>
Tony Edgin<br/>
CyVerse Data Store Product Owner<br/>
University of Arizona<br/>
</body>
</html>