Hi {{ full_name }}.

We have noticed that your CyVerse account {{ username }} hasn't been used in at least two years, so we will be deleting your account in 90 days. Please download any files from the CyVerse Data Store you have that you want to keep. They can be found at https://data.cyverse.org/dav/iplant/home/{{ username }}.

Please reach out to us at support@cyverse.org if we incorrectly determined your account activity or if you need help downloading data.

We appreciate your usage of CyVerse.

Tony Edgin
CyVerse Data Store Product Owner
University of Arizona
